.sector_create_ul_style{
    list-style: none;
}
.sector_create_rate_input{
    width: 100%;
    border-radius: 5px;
    text-align: center;
    outline: none;
    border: 0;
    background-color: rgb(247, 247, 245);
}
.container_sectormaster{
    box-shadow: 1px 1px 2px 2px lightgray;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.sectormaster_view_heading{
    color: #0092ce;
    font-size: 20px;
}
.sectormaster_p_color{
    color: #000000;
    font-weight: 500;
  
}
.sectormaster_p_color_blue{
    color: #0092ce;
    font-weight: 500;
}
.sectormaster_sub_p_color{
    color: #838383;
    font-weight: 500;
    
}

.sectormaster_sub_active_p_color{
    color: #47ba55;
    font-weight: 500;
}

 @media only screen and(max-width: 991px){
.file__sector_master_991{
    padding-top: 4px !important;
    // font-size: 15px;
    // margin-top: 7px !important;
}
 }