.input_search{
    background-color: white;
    box-shadow: 1px 1px 2px 2px #e0e0e0;
    display: flex;
    width: 100%;
    padding-left: 5px;
    padding-right: 10px;
    border-radius: 10px;
    @media screen and (max-width:991px),(max-width:1400px),(max-width: 992px) {
        width: fit-content;
        
    }
    
}
.hrms_input_search{
    outline: none;
    border: 0;
    padding: 10px;
    font-size: 18px;
    width: 100%;
}
.dashboard_container_color{
    background-color: whitesmoke;
}
.emp_card2_req{
    color: #1c9128;
    
    align-items: center; 
       
}
.emp_card2_pending{
    color: 
#f69c9c ;
}
.empcard2pending{
    background-color: whitesmoke;
    border-radius: 7px;
    
}
.empcard2amount{
    font-weight: 700;
}
.chart_card{
    box-shadow: 1px 1px 2px 2px #e0e0e0;
}