.newcontact__button{
    border-radius: 35px;
    background-color: rgb(35, 112, 156);
    border: none;
}
.newcontact_icon_size{
 font-size: 22px;
}
.newcontactfile_icon_size{
   font-size: 26px; 
   color: rgb(117, 137, 138);
}