

.erp__btn_primary {
    background-color: #1a90b4;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    color: white;
    border: none;
}

.erp__btn-prepend-icon {
    display: flex;
    align-items: center;
    color: white;
}

.erp__btn-append-icon-wrapper {
    margin-left: 0.5rem;
}

.erp__btn-prepend-icon-wrapper {
    margin-right: 0.5rem;
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.erp_btn-rounded {
    border-radius: 50px !important;
}

// .cif__btn-sharp {
//     border-radius: 0 !important;
// }

.erp__btn_white{
    background-color: white;
    border: 1px solid #0092ce;
    color:#0092ce;
    padding-top: 5px;
    padding-bottom: 0px;
    padding-left: 0;
    padding-right: 0;
}

.erp__half-rounded{
    border-radius: 10px !important;
}
.erp__btn-blue{
    background-color: #0092ce ;
    // padding-top: 5px;
    // padding-bottom: 0px;
    // padding-left: 0;
    // padding-right: 0;
    padding: 8px;
    width: 100px;
    font-size: 15px;
    color: white;
    border: 1px solid #0092ce;
}