.tablethread {
  // background-color: whitesmoke;
  text-align: center;
}
.tablebody {
  border: 0;
  // font-weight: 200;
  background-color: white;
  color: rgb(0, 0, 0);
}
.tablerow {
  border: 0;
}
.tablehead {
  border: 0;
  // color:#0092ce;
  font-weight: 500;
}
.tablerow1 {
  border: 0;
  background-color: rgb(241, 250, 252);
}
.view__enquiry__number {
  max-width: max-content;
  max-height: max-content;
  background-color: rgb(46, 123, 240);
  border-radius: 20px;
//   padding-left: 10px;
//   padding-right: 10px;
//   padding-top: 7px;
//   padding-bottom: 7px;
  color: white;
  box-shadow: 1px 1px 2px 2px rgb(165, 202, 243);
}
.nav__bgcolor{
  background-color: white !important;
}
.tablehead1{
   border: 0;
   text-align: left;
}
.table__head__color_salesenquiry {
background-color: rgb(9, 112, 197);
color: white;
}
.text_size{
font-size: 12px;
font-weight: 500 !important;
}
.active__tab{
background-color: white;
}