// .profile__custom_size{
//     margin-top: -100px;
// }
.card_bg_color{
    background-color: whitesmoke;
}
.profile__iconsize{
    // padding: 20px;
    font-size: 8rem !important;
}
.color__browse{
    color:#198bc9 ;  
}