.select__custom{
      border-radius: 35px;
    // background-color: rgb(35, 112, 156);
    border-color: rgb(0, 162, 255);
    color:  rgb(0, 162, 255);
}
.cust_icon_edit{
  font-size: 17px;
  color: rgb(162, 173, 202);
}
.custswitch_color{
  font-size: 20px;
}

.category_model_p_color{
    color: #000000;
    font-weight: 500;
}
.category_model_sub_p_color{
    color: #838383;
    font-weight: 500;
}