.view__supplier__moredetails{
    // border: none;
    // background: none !important;
    font-size: 25px;
    font-weight: bold;
}
.h4__color{
    color:#36b4f7 ;
    //  font-weight: bold;
}
.supplir_h6__color{
    color:#36b4f7 ;  
}
.suppliericon__size {
    font-size: 25px;
   
}
.view__supplier__h5_color{
      color:#36b4f7 ;
}
.viewproduct_p__color{
    color:black
}
.product__img{
    width: 100%;
    height: 15rem;
    background-color: #abbcc5;
    padding: 2rem;
}
