.view__supplier__moredetails {
  // border: none;
  // background: none !important;
  font-size: 25px;
  font-weight: bold;
}
.h4__color {
  color: #36b4f7;
  //  font-weight: bold;
}
.supplir_h6__color {
  color: #36b4f7;
}
.suppliericon__size {
  font-size: 25px;
}
.view__supplier__h5_color {
  color: #36b4f7;
}
.viewproduct_p__color {
  color: black;
}
.product__img {
  width: 19rem;
  height: 15rem;
  background-color: whitesmoke;
  padding: 2rem;
  position: relative;
}
.badge_text__position {
  position: absolute;
  margin-top: -31px;
  margin-left: -14px;
//   padding : 6px !important;
//   padding-right: 14px !important;
  background-color:#36b4f7 !important ;
}
.viewproduct__erp__imgtext {
  display: flex;
  text-align: center;
}
.product_brandname__color {
  height: max-content;
  width: max-content;
  padding: 10px;
  border-radius: 8px;
  background-color: whitesmoke;
}
