.container_category_wise{
    box-shadow: 1px 1px 2px 2px lightgray;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.category_wise_view_heading{
    color: #0092ce;
    font-size: 20px;
}
.category_wise_p_color{
    color: #000000;
    font-weight: 500;
}
.category_wise_sub_p_color{
    color: #838383;
    font-weight: 500;
}
.category_wise_sub_active_p_color{
    color: #47ba55;
    font-weight: 500;
}




  @media only screen and(max-width: 991px) {
    .erp-md__h5_Size{
        font-size: small;
    }

  }
  @media only screen and(max-width: 1024px) {
    .erp-lg__h5_size{
        font-size: small;
        margin-top: 6px;
    }

  }

