.profilecard{
    background-color: whitesmoke;
}
// .columndiv{
//     width: fit-content;
// }
.ptype{
    font-weight: 400;
    // color: gray;
}
.browse{
      font-weight: 500;
      color: #5bbee7;
      margin-left: 15px;
}
.bankheading{
     color: #0092ce;
    //  margin-left: 150px;
}
.multipledocument{
    font-weight: 100;
    text-align: center;
    margin-top: 20px;
    font-size: 13px;
}
.inputtype{
       border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: whitesmoke;
      font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.contactinput{
      border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 5px;
    outline: none;
    background-color: whitesmoke;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}
.contactphone{
    width: 100%;
}
.setdefault{
    text-align: right;
    padding-right: 120px;
}

.drop{
    margin-top: 5px;
}
.tablethread{
    background-color: whitesmoke;
    text-align: center;
    
}
.tablebody{
    border: 0;
    font-weight: 200;
    background-color: white;
    color: gray;

}
.tablerow{
    border: 0;
}
.tablehead{
    border: 0;
    color:#0092ce;
    font-weight: 400;
    
}