.inputdropdown {
    // display: flex;
    // margin-top: 5px;
    border: 0;
    border-radius: 5px;
    // width: 250px;
    padding: 0px;
    outline: none;
    background-color: whitesmoke;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
}

.dropdowndiv {
    margin-left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.erp__btn-append-icon-wrapper {
    margin-left: 0.5rem;
}