.navbar{
     background: rgb(66, 63, 223) 89%;
//   background: linear-gradient(
//     157deg,
//     rgb(66, 77, 230) 30%,
//     rgb(105, 98, 206) 39%,
//     rgb(44, 84, 196) 44%,
//     rgb(52, 90, 204) 58%,
//     rgb(65, 78, 194) 72%,
//     rgb(90, 77, 211) 81%,
//     rgb(66, 63, 223) 89%
//   );
// background-color: black;
}

.menu{
    margin-left: 2rem;
    font-size: 2rem;
    background: none;
}

.nav-menu{
     background: rgb(56, 162, 201);
  background: linear-gradient(
    157deg,
    rgb(66, 77, 230) 30%,
    rgb(105, 98, 206) 39%,
    rgb(44, 84, 196) 44%,
    rgb(52, 90, 204) 58%,
    rgb(65, 78, 194) 72%,
    rgb(90, 77, 211) 81%,
    rgb(66, 63, 223) 89%
  );
    width: 250px;
    height: 100vh;
    display: flex;
    justify-content: center;
}