.textarea{
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    width: 100% !important;
    height: 150px !important;
    padding: 20px;
    outline: none;
    background-color: whitesmoke;
       font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;

}