.erp__modal_header{
    background-color: rgb(91, 152, 233);
//    border-radius: 10px;
    // min-height: 180px;
    
}
.erp__modal__body{
    border-top-right-radius: 25%; 
    //  background-color: rgb(91, 152, 233);
    background-color: white;
    // min-height: 190px;
}
.erp__modal__footer{
    height: 25px;
    width: 100%;
    background-color: rgb(91, 152, 233);
}
.modal-content{
   border-radius: 10px !important;
   overflow: hidden;
   border: none !important;
//    border: 1px solid white !important;
}


.heading_custom_model{
    color: rgba(255, 255, 255, 0.904);
    margin-top: 30px;
    margin-left: 20px;
}
