.view__supplier__moredetails{
    // border: none;
    // background: none !important;
    font-size: 25px;
    font-weight: bold;
}
.h4__color{
    color:#36b4f7 ;
    //  font-weight: bold;
}
.supplir_h6__color{
    color:#36b4f7 ;  
}
.suppliericon__size {
    font-size: 25px;
   
}
.view__supplier__h5_color{
      color:#36b4f7 ;
}
// .suppliericonsearch__size {
//     background-color:#858d8d ;
//     padding: .3rem;
//        font-size: 25px;
//        color: #f4f7f7;
// }
