.navbar__color {
    max-height: 80px !important;
    background-color: #007bc1;
}

.search__border {
    border-radius: 25px;
    // background-color: white;
    padding-right: 17rem;
    height: 40px;
    width: 100%;
    border: none;
}

.header_icon__size {
    font-size: 25px;
    color: white;
}


.plusicon_size {
    font-size: 22px;
    color: white;
}

.profileicon_size {
    font-size: 40px;
    color: white;
}
//   @media only screen and(max-width: 991px) {
//     .erp__navbar_small{
        
//     }

//   }