.datepicker{
    
    // margin-top: 20px;
    border: 0;
    border-radius: 5px;
    width: 100%;
    padding: 10px;
    outline: none;
    background-color: whitesmoke;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;


}