.viewprof_btn__radius{
    border-radius: 40px !important;
}
.view__custom__moredetails{
    border: none;
    background: none !important;
    font-size: 28px;
    font-weight: bold;
}
.h4__color{
    color:#36b4f7 ;
    //  font-weight: bold;
}
// .accordion_p_header{
    
// }