.department_sec_heading_color{
    font-size: 18px;
    color: black;
    font-weight: 500;
    
}
.department_view_heading{
    color: #0092ce;
    font-size: 20px;
}
.container_department{
    box-shadow: 1px 1px 2px 2px lightgray;
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}
.department_p_color{
    color: #000000;
    font-weight: 500;
}
.department_sub_p_color{
    color: #838383;
    font-weight: 500;
}
.department_sub_active_p_color{
    color: #47ba55;
    font-weight: 500;
}