.editordiv{
      display: flex;
    justify-content: space-between;
    // width:fit-content;
    text-align: center;
    margin: auto;
    // padding: 50px;
    // background-color: whitesmoke;
}

.quill{
    
    justify-content: space-between;
    width: 100%;
    // background-color: white;
    border: 0;
    border-radius: 10px;
}

