.editordiv{
      display: flex;
    justify-content: space-between;
    width:fit-content;
    text-align: center;
    margin: auto;
    // padding: 50px;
    // background-color: whitesmoke;
}

.quill{
    width: 160vh;
    // background-color: white;
    border: 0;
}

