.supplier_plusicon__size{
    font-size: 28px;
}
.supplier_input__style{
    border: none !important;
    outline: none ;
//    color:#36b4f7 ;  
}
.supplier__product_color{
      color:#198bc9 ;  
}
// .profile__custom_size{
//    margin-top: -5.2rem;
// }